.containerBoardDirectorsChamberScreen {
    background-color: #2f7958;
    width: 100%;
    height: 100%;
}

.headerBoardDirectorsChamber {
    background-color: silver;
    width: 100%;
    padding: 5px 0px;
}

.subHeaderBoardDirectorsChamber {
    background-color: #FAA733;
    width: 100%;
    padding: 5px 0px;
    margin-top: 45px;
    margin-bottom: 5px;
}

.presidentAndViceDivBoardDirectorsChamberScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.boxDivBoardDirectorsChamberScreen {
    border: 2px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 10px;
    width: 40%;
    background-color: #FFF;
}

.boxDivSecretariesBoardDirectorsChamberScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.deputiePictureBoardDirectorsChamberScreen {
    width: 40%;
}

.deputiePictureBoardDirectorsChamberScreen img {
    width: 100%;
    height: 100%;
}

.deputieInfoBoardDirectorsChamberScreen {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
}

.deputieInfoBoardDirectorsChamberScreen h4 {
    font-weight: bold;
    color: #0095da;
}