.containerComparisonSetupDeputiesScreen {
    width: 100%;
    background-color: chartreuse;
}

.graficComparisonSetupDeputiesScreen {
    background-color: blueviolet;
}

.graficBallsComparisonSetupDep {
    margin: 10px;
}

.headerGraficBallsComparisonSetupDep {
    background-color: coral;
    display: flex;
    justify-content: space-around;
}

.party {
    display: flex;
    margin-bottom: 10px;
    border: solid 1px;
    border-radius: 20px;
    background-color: #fff;
}

.divBallsDeputiesComparisonSetupDep {
    justify-content: center;
    width: 40%;
    align-self: flex-start;
    margin-bottom: 10px;
}

.partyName {
    width: 20%;
    align-self: center;
}